# TP8
Aula de 2024-05-23

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.metrics import mean_squared_error, accuracy_score
import matplotlib.pyplot as plt
import warnings

In [11]:
warnings.filterwarnings("ignore")

In [15]:
abalone_data = pd.read_csv("../../ficheiros/Parte 2/abalone.data")
# abalone_data.columns = ['Sex', 'Length', 'Diameter', 'Height', 'WholeWeight', 'ShuckedWeight','VisceraWeight', 'ShellWeight', 'Rings']

In [16]:
abalone_data.shape

(4177, 9)

Normalizar podemos usar MinMaxScaler, é para colocar os valores entre 0 e 1.
Serve para remover os efeitos das escalas utilizadas.

Para comparar ttest_test_ind

In [17]:
abalone_data = pd.get_dummies(abalone_data, dtype=float)

In [18]:
abalone_data.head()

,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings,Sex_F,Sex_I,Sex_M
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,0.0,0.0,1.0
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,0.0,0.0,1.0
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,1.0,0.0,0.0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,0.0,0.0,1.0
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,0.0,1.0,0.0

In [20]:
def min_max_normalize(x, min_val, max_val):
    data = (x - min_val) / (max_val -min_val)
    return data

Normalização feita à mão

In [21]:
x = abalone_data
min_val = abalone_data.min()
max_val = abalone_data.max()

normalized_x = min_max_normalize(x, min_val, max_val)

normalized_x.head()

,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings,Sex_F,Sex_I,Sex_M
0,0.513514,0.521008,0.084071,0.181335,0.150303,0.132324,0.147982,0.500000,0.0,0.0,1.0
1,0.371622,0.352941,0.079646,0.079157,0.066241,0.063199,0.068261,0.214286,0.0,0.0,1.0
2,0.614865,0.613445,0.119469,0.239065,0.171822,0.185648,0.207773,0.285714,1.0,0.0,0.0
3,0.493243,0.521008,0.110619,0.182044,0.144250,0.149440,0.152965,0.321429,0.0,0.0,1.0
4,0.344595,0.336134,0.070796,0.071897,0.059516,0.051350,0.053313,0.214286,0.0,1.0,0.0

In [23]:
# Holdout


rand_State = 27
trainsize = 0.7
testsize = 0.3

X = abalone_data.drop("Rings", axis=1)
y = abalone_data["Rings"]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=trainsize, random_state=rand_State)

Procura dos K

In [25]:
kmax = 52
kstep = 2
rmse_val = []
k_list = []
k = 0

In [27]:
for i in range(1, kmax, kstep):
    model = KNeighborsRegressor(n_neighbors=i)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    error = np.sqrt(mean_squared_error(y_test, y_pred))
    rmse_val.append(error)
    k_list.append(K)
    K = K + 1

NameError: name 'X_train' is not defined

Na regressão queremos o valor minimmo.
Na classificação queremos o valor maximo.

In [ ]:
min_rmse = min(rmse_val)

In [ ]:
best_k = k_list[rmse_val.index(min_rmse)]

In [ ]:
curve = pd.DataFrame(rmse_Val)

Usar line RMSE vs nr K

In [ ]:

from sklearn.model_selection import cross_val_score

cv_scores = cross_val_score(model, X, y, cv=5)  # model vem dos K neighbours


print(np.mean(cv_scores))